<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for your purchase, <%= @user.name %></h1>
     <% @items.each do |i| %>
      <p>
     <%= i.name %> - <%= i.description %> - <%= i.displayprice %> <br>
     <% unless i.size.nil? %>
      Size: <%= i.size %><br>
      <% end %>
      </p>
     <% end %>
<p> Tax: <%= @tax %>
</p> <p>
       Shipping : <%= @shipping %>
     </p>
    <p>
      Total: <%= @body %><br>
    </p>
    <p>
      Shipping Address:<br>
      <%= @body2 %><br>
      <%= @body3 %><br>
      <% unless @body4.nil? or @body4.blank? %>
      <%= @body4 %><br>
      <% end %>
      <%= @body9 %>
    </p>
    <p>
      To login to the site, just follow this link: https://deathisadialogue.com
    </p>
    <p>Hope to see you at a show. -DIAD</p>
  </body>
</html>
