<html xmlns="http://www.w3.org/1999/html">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <title>DeathisaDialogue | Official Site</title>
  <%= stylesheet_link_tag    'application', 'diadmain', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.png' %>
  <script type="text/javascript" src="https://js.squareup.com/v2/paymentform"></script>
  <script>
    var paymentForm = new SqPaymentForm({
//      applicationId: 'sandbox-sq0idp-YIDR4JFlIVezYhbQtF3eSA', // <-- Add your application ID here
      applicationId: 'sq0idp-YIDR4JFlIVezYhbQtF3eSA', // <-- Add your application ID here
      inputClass: 'sq-input',
      inputStyles: [
        {
          fontSize: '30px'
        },
      ],
      cardNumber: {
        elementId: 'sq-card-number',
        placeholder: '•••• •••• •••• ••••'
      },
      cvv: {
        elementId: 'sq-cvv',
        placeholder: 'CVV'
      },
      expirationDate: {
        elementId: 'sq-expiration-date',
        placeholder: 'MM/YY'
      },
      postalCode: {
        elementId: 'sq-postal-code'
      },
      callbacks: {
        cardNonceResponseReceived: function(errors, nonce, cardData) {
          if (errors) {
            // handle errors
            errors.forEach(function(error) { console.log(error.message); });
            alertify.error('There was an error processing your card information.  Please try again.', function() {},'popup1');
          } else {
            // handle nonce
            //alert('Nonce received! ' + nonce + ' ' + JSON.stringify(cardData));
            // Assign the value of the nonce to a hidden form element
            var nonceField = document.getElementById("card_nonce");
            var nameField = document.getElementById("name");
            var addressField = document.getElementById("street_address_1");
            var cityField = document.getElementById("city");
            var stateField = document.getElementById("state");
            var zipField = document.getElementById("zip");
            if (nameField.value==null || nameField.value=="",addressField.value==null || addressField.value=="",cityField.value==null || cityField.value=="",stateField.value==null || stateField.value=="",zipField.value==null || zipField.value=="")
            {
            alertify.error('Please fill out required shipping information.');
            return false;
            }
            nonceField.value = nonce;
            // Submit the form
            console.log('Nonce received!');
             // console.log(nonce);
            document.getElementById("number").submit();
          }
        },
        unsupportedBrowserDetected: function() {
          // Alert the buyer that their browser is not supported
        },
        inputEventReceived: function(inputEvent) {
          switch (inputEvent.eventType) {
            case 'focusClassAdded':
              // Handle as desired
              break;
            case 'focusClassRemoved':
              // Handle as desired
              break;
            case 'errorClassAdded':
              // Handle as desired
              break;
            case 'errorClassRemoved':
              // Handle as desired
              break;
            case 'cardBrandChanged':
              // Handle as desired
              break;
            case 'postalCodeChanged':
              // Handle as desired
              break;
          }
        }
      }
    });

    function requestCardNonce() {
      paymentForm.requestCardNonce();

    }
  </script>
  <style type="text/css">
    .sq-input {
      border: 0px solid rgb(223, 223, 223);
      outline-offset: -2px;
      margin-bottom: 5px;
    }
    .sq-input--focus {
      /* how your inputs should appear when they have focus */
      outline: 5px auto rgb(59, 153, 252);
    }
    .sq-input--error {
      /* how your inputs should appear when invalid */
      outline: 5px auto rgb(255, 97, 97);
    }
  </style>
</head>
<body class="navbargrey">
   <div class="jumbotron jumbotron-sized jumbotron-small">
    <div class="container">
      <div class="form-group">


      </div>
    </div>

      <div class="sq-input">

        <div id="card-nonce">
          <%= form_tag diad_store_checkout_path, id: "number", multipart: true do %>
              <%= label_tag 'Total:', nil, :class => 'pull-center' %>
              <%= text_field_tag :total, nil, :value => @displaytotal, :class => 'fieldfont formmaxwidth', :disabled => 'true' %><br>
              <%= text_field_tag :card_nonce, nil, :class => "sr-only" %><br>
              <%= label_tag 'Name', nil %><br>
              <%= text_field_tag :name, nil, :class => "fieldfont input-lg col-lg-12" %><br>
              <%= label_tag 'Shipping Address', nil %><br>
              <%= text_field_tag :street_address_1, nil, :class => "fieldfont input-lg col-lg-12" %><br>
              <%= text_field_tag :street_address_2, nil, :class => "fieldfont input-lg col-lg-12" %><br>
              <%= label_tag 'City', nil %><br>
              <%= text_field_tag :city, nil, :class => "fieldfont input-lg col-lg-12" %><br>
              <%= label_tag 'State', nil %><br>
              <%= text_field_tag :state, nil, :class => "fieldfont input-lg col-lg-12" %><br>
              <%= label_tag 'Zip', nil %><br>
              <%= text_field_tag :zip, nil, :class => "fieldfont input-lg col-lg-12" %><br>
              <%= submit_tag 'Confirm', method: 'POST', remote: :true, :class => "sr-only" %>
          <% end %>
        </div>





      <label>Card Number</label>
      <div id="sq-card-number">
      </div>
      <label>CVV</label>
      <div id="sq-cvv">
      </div>
      <label>Expiration Date</label>
      <div id="sq-expiration-date">
      </div>
      <label>Postal Code</label>
      <div id="sq-postal-code">
      </div>

      <button class="btn-primary" type="submit" onclick="requestCardNonce()">PAY</button>
        </div>
        </div>
<!--      <form id="form" novalidate method="post">
      <input type="hidden" id="card-nonce" name="nonce">
      <input type="submit" onclick="submitButtonClick(event)" id="card-nonce">
      </form> -->

      <div id="errors"></div>

</body>

</html>
