<html xmlns="http://www.w3.org/1999/html">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <title>DeathisaDialogue | Official Site</title>
  <%= stylesheet_link_tag    'application', 'diadmain', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.png' %>
</head>
<body class="navbargrey">
<div class="container">
        <div class="topspace fieldfont pull-right fontset">
        <div class="form-group">
          <table>
            <thead>
            </thead>
            <tbody>
            <tr>
          <%= label_tag 'SubTotal:', nil, class: "fontset" %>
          <%= text_field_tag 'Total', nil, size: 10, value: @total, disabled: true %>
              </tr>
            <br>
            <tr>
            <%= label_tag 'Tax:', nil, class: "fontset" %>
            <%= text_field_tag 'tax', nil, size: 10, value: @tax, disabled: true, class: "pull-right" %>
              </tr>
            <br>
            <tr>
              <%= label_tag 'Total:', nil, class: "fontset" %>
              <%= text_field_tag 'Total', nil, size: 10, value: @subtotal, disabled: true, class: "pull-right" %>
            </tr>
            <br>
            <tr>
              <%= label_tag 'Shipping:', nil, class: "fontset" %>
              <%= text_field_tag 'Shipping', nil, size: 10, value: @shipping, disabled: true, class: "pull-right" %>
            </tr>
            <br>
            <tr>

            </tr>
            </tbody>
            </table>
           <span class="container topspacedeep">
                <%= button_to 'Checkout', diad_store_tender_path, method: :get, :class => 'btn-danger btn-xs fieldfont pull-right' %>
             <%= button_to 'Cancel', diad_products_path, method: :get, :class => 'btn-warning btn-xs fieldfont' %>
                </span>
        </div>
        </div>
          <div class="col-xs-2">
          </div>

        <table class="table table-condensed">
          <thead>
          <tr>
            <th style="width:50%">Product</th>
            <th style="width:10%">Price</th>
            <th style="width:8%">Quantity</th>
            <th style="width:22%" class="text-center">Subtotal</th>
            <th style="width:10%"></th>
          </tr>
          </thead>
          <tbody>
          <% @items.each do |i| %>
          <tr>
            <td data-th="Product">
              <div class="row">
                <div class="col-sm-2 hidden-xs"><img src="http://placehold.it/100x100" alt="..." class="img-responsive"/></div>
                <div class="col-sm-10">
                  <h4 class="nomargin bumpright"><%= i.name %></h4>
                  <p class="bumpright"><%= i.description %></p>
                </div>
              </div>
            </td>
            <td data-th="Price"><%= i.displayprice %></td>
            <td data-th="Quantity">
              <input type="number" class="form-control text-center" value="quantityhere">
            </td>
            <td data-th="Subtotal" class="text-center"><%= i.displayprice %></td>
            <td class="actions" data-th="">
              <%= link_to raw("<i class=\"fa fa-trash-o\"></i>"),
                          diad_store_rmfromcart_path(id: i.id),
                          class: "btn btn-danger btn-sm",
                          method: :get %>
            </td>
          </tr>
              <% end %>
          </div>
          </tbody>
         </table>
      </div>

      <div id="errors"></div>

</body>

</html>
